.git
.github
.idea
.vscode
.phpunit.result.cache
.env
.env.*
!.env.example
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
bootstrap/cache/*.php
tests
vendor
_ide_helper_models.php
.phpstorm.meta.php
